@import "tailwindcss";

:root {
  --rw-background: #f8fafc;
  --rw-white: #ffffff;
  --rw-dark: #1e254a;
  --rw-green: #1fa168;
  --rw-red: #e8203b;
  --rw-peach: #ffdab9;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  background: var(--rw-background);
  color: var(--rw-dark);
  font-family: var(--font-dm-sans), sans-serif;
}

.container-width {
  max-width: 72rem;
}
